.dark-blue{
    background-color: blue;
}

.light-blue{
    background-color: rgb(91, 115, 252);
    color: white;
}

.fas-profile{
    background-color: grey;
}

@media (max-width : 1200px) {
    #quickLinks{
        display: none;
    }
    #userIcon{
        display: none;
    }
    #pendingActions{
        display: none;
    }
}